body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("ROBO.png"); /* your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container h1 {
    color: #333;
    margin-bottom: 10px;
}

.container p {
    color: #666;
    margin-bottom: 30px;
}

.buttons .btn {
    text-decoration: none;
    padding: 12px 25px;
    margin: 10px;
    background-color: #4facfe;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.buttons .btn:hover {
    background-color: #00c6ff;
}